<!--Footer-->
<footer id="footer" class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-wrapper">
                <div class="col-md-12 col-sm-6 col-xs-12">
                    <div class="text-center">
                        <img src="assets/images/logo.png" alt="logo" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


<div class="scrollup">
<a href="#"><i class="fa fa-chevron-up"></i></a>
</div>


<script src="assets/js/vendor/jquery-1.11.2.min.js"></script>
<script src="assets/js/vendor/bootstrap.min.js"></script>
<script src="assets/js/plugins.js"></script>
<script src="assets/js/modernizr.js"></script>
<script src="assets/js/main.js"></script>
<script src="assets/js/validateForm.js"></script>
</body>
</html>
